/* app.css */
@import '@splidejs/splide/dist/css/splide.min.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'Red Hat Text';
	font-size: calc(14px + 0.25vw);
}

.rc_h1 {
	@apply font-normal text-xl md:text-2xl lg:text-4xl uppercase tracking-wider;
}

.rc_h2 {
	@apply font-bold text-base lg:text-xl uppercase tracking-widest;
}

.rc_h3 {
	@apply font-bold text-sm lg:text-base uppercase tracking-wider;
}

.rc_h4 {
	@apply font-bold text-xs lg:text-sm uppercase tracking-widest;
}

.rc_break_hyphens {
	-moz-hyphens: auto;
	hyphens: auto;
}

.rc_desktopmenu_subpoint {
	@apply block py-2 text-rc_skyblue uppercase tracking-wider border-b border-rc_darkblue text-sm font-medium hover:text-rc_red focus:ring-0 focus:outline-none focus:text-rc_red;
}

.rc_rotate {
	transform: rotate(45deg);
}

.rc_text_shadow {
	text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
}

.rc_button_corner:after {
	content: '';
	position: absolute;
	right: -1em;
	top: 0px;
	width: 1em;
	height: 100%;
	background: inherit;
	clip-path: polygon(100% 0, 0 0, 0 100%);
}

.blogteaserbg {
	background: rgba(42, 73, 157, 0.95);
}

.rc_background_triangle {
	background-image: url(/triangle.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 0 50%;
}

.rc_menu {
	height: auto;
	background-color: rgba(21, 37, 79, 0.99);
}

.rc_menuIsOpen {
	/* only mobile */
	max-height: 100vh;
	overflow: hidden;
}

.rc_menu_visible {
	margin-top: 0;
}

.rc_menu_hidden {
	margin-top: -333vh;
}

.rc_blur {
	filter: blur(0.25em);
}

.rc_padding_small {
	height: 2vw;
}

.rc_padding_medium {
	height: 5vw;
}

.rc_padding_large {
	height: 10vw;
}

hr {
	height: 12px;
}

blockquote {
	padding: 0.5em 1em;
	margin: 1em 0;
	border-left: 2px solid #7a7a7a;
}
