@import 'tailwindcss';
@import '@fontsource/red-hat-text/400.css';
@import '@fontsource/red-hat-text/500.css';
@import '@fontsource/red-hat-text/700.css';

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

:root {
	--font-body:
		'Red Hat Text', Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--color-bg-0: rgb(202, 216, 228);
	--color-bg-1: hsl(209, 36%, 86%);
	--color-bg-2: hsl(224, 44%, 95%);
	--color-theme-1: #ff3e00;
	--color-theme-2: #4075a6;
	--color-text: rgba(0, 0, 0, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
	font-family: var(--font-body);
	color: var(--color-text);
}

body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-size: 100vw 100vh;
	scroll-behavior: smooth;
}

@theme {
	--color-rc_darkblue-darkest: #15254f;
	--color-rc_darkblue-darker: #203776;
	--color-rc_darkblue: #2a499d;
	--color-rc_darkblue-lighter: #556db1;
	--color-rc_darkblue-lightest: #7f92c4;

	--color-rc_skyblue-darkest: #526a80;
	--color-rc_skyblue-darker: #7a9fbf;
	--color-rc_skyblue: #a3d4ff;
	--color-rc_skyblue-lighter: #b5ddff;
	--color-rc_skyblue-lightest: #c8e5ff;

	--color-rc_red-darker: #b02629;
	--color-rc_red: #ea3336;
	--color-rc_red-lighter: #ee5c5e;

	--color-rc_green-darker: #43801c;
	--color-rc_green: #59aa25;
	--color-rc_green-lighter: #7abb51;

	--color-rc_turquoise-darker: #1c807d;
	--color-rc_turquoise: #25aaa7;
	--color-rc_turquoise-lighter: #7cccca;

	--color-rc_petrol-darker: #186691;
	--color-rc_petrol: #2088c1;
	--color-rc_petrol-lighter: #79b8da;

	--color-rc_purple-darker: #4a1457;
	--color-rc_purple: #631b75;
	--color-rc_purple-lighter: #824990;
}

.rc_h1 {
	@apply text-xl font-normal tracking-wider uppercase md:text-2xl lg:text-4xl;
}

.rc_h2 {
	@apply text-base font-bold tracking-widest uppercase lg:text-xl;
}

.rc_h3 {
	@apply text-sm font-bold tracking-wider uppercase lg:text-base;
}

.rc_h4 {
	@apply text-xs font-bold tracking-widest uppercase lg:text-sm;
}

.rc_break_hyphens {
	-moz-hyphens: auto;
	hyphens: auto;
}

.rc_text_shadow {
	text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
}

.rc_button_corner:after {
	content: '';
	position: absolute;
	right: -1em;
	top: 0px;
	width: 1em;
	height: 100%;
	background: inherit;
	clip-path: polygon(100% 0, 0 0, 0 100%);
}

.rc_background_triangle {
	background-image: url(/triangle.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 0 50%;
}

.rc_blur {
	filter: blur(0.25em);
}

.rc_padding_small {
	height: 2vw;
}

.rc_padding_medium {
	height: 5vw;
}

.rc_padding_large {
	height: 10vw;
}

hr {
	height: 12px;
}

blockquote {
	padding: 0.5em 1em;
	margin: 1em 0;
	border-left: 2px solid #7a7a7a;
}

.mod_accordion .item_content ul {
	padding: 1.5em 0;
	margin-left: 2em;
}

.mod_accordion .item_content ul li {
	list-style-type: none;
	padding: 0.25em 1em 0.5em 0.25em;
}

.mod_accordion .item_content ul li:before {
	position: absolute;
	content: '■';
	color: rgba(42, 73, 157, 1);
	margin-left: -2em;
}
